# Node
node_modules/
npm-debug.log
yarn-error.log
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Docker
*.pid
*.log
docker-data/

# IDE/Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Database
server/database.db
