version: "3.9"
services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "${BACKEND_PORT}:5001"
    env_file:
      - .env
    volumes:
      - ./backend:/app
    environment:
      - FLASK_ENV=development
      - FLASK_RUN_PORT=${BACKEND_PORT}
      - FLASK_APP=main.py

  frontend:
    build: ./frontend
    container_name: axis-frontend
    ports:
      - "${FRONTEND_PORT}:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
