version: "3.9"
services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "${BACKEND_PORT}:5000"
    env_file:
      - .env
    volumes:
      - ./backend:/app
    environment:
      - FLASK_ENV=development

  frontend:
    build: ./frontend
    container_name: axis-frontend
    ports:
      - "${FRONTEND_PORT}:5000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
