.gridmap-container {
  border: 1px solid #000000;
  background: #fafafa;
}

.gridmap-cell {
  background: #ffffffec;
  border: 1px solid #000000;
  display: flex;
  aspect-ratio: 1 / 1;
  border: none;
  gap: 0;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  height: 100%;
}