.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  display: flex;
  flex: 1;
}

.sidebarWrapper {
width: 250px;
background-color: #f5f7fa;
color: white;
}

.pageContent {
  flex: 1;
  padding: 1rem;
  background-color: #ffffff;
}